@import 'bootstrap/dist/css/bootstrap.min.css';

.bg-dark {
 --bs-bg-opacity: 1;
 background-color: #E7153B !important;
}
h1{
 font-weight: 200;
}
span{
 font-weight:700;
}
#imgCake{
 height: 200px;
 width: 200px;
}

#footer{
 color: #E7153B;
 font-weight: 500;
}
